[Desktop Entry]
Name=Printers
Name[ar]=الطّابعات
Name[ast]=Imprentadores
Name[bg]=Принтери
Name[bs]=Štampači
Name[ca]=Impressores
Name[ca@valencia]=Impressores
Name[cs]=Tiskárny
Name[da]=Printere
Name[de]=Drucker
Name[el]=Εκτυπωτές
Name[en_GB]=Printers
Name[es]=Impresoras
Name[et]=Printerid
Name[eu]=Inprimagailuak
Name[fi]=Tulostimet
Name[fr]=Imprimantes
Name[ga]=Printéirí
Name[gl]=Impresoras
Name[hu]=Nyomtatók
Name[ia]=Imprimitores
Name[it]=Stampanti
Name[kk]=Принтерлер
Name[km]=ម៉ាស៊ីន​បោះពុម្ព
Name[ko]=프린터
Name[lt]=Spausdintuvai
Name[mai]=मुद्रक
Name[mr]=छपाईयंत्रे
Name[nb]=Skrivere
Name[nds]=Druckers
Name[nl]=Printers
Name[nn]=Skrivarar
Name[oc]=Estampairas
Name[pa]=ਪਰਿੰਟਰ
Name[pl]=Drukarki
Name[pt]=Impressoras
Name[pt_BR]=Impressoras
Name[ro]=Imprimante
Name[ru]=Принтеры
Name[sk]=Tlačiarne
Name[sl]=Tiskalniki
Name[sr]=Штампачи
Name[sr@ijekavian]=Штампачи
Name[sr@ijekavianlatin]=Štampači
Name[sr@latin]=Štampači
Name[sv]=Skrivare
Name[tr]=Yazıcılar
Name[ug]=پرىنتېرلار
Name[uk]=Принтери
Name[x-test]=xxPrintersxx
Name[zh_CN]=打印机
Name[zh_TW]=印表機
Comment=List print jobs and manage them
Comment[ar]=اسرد مهام الطّباعة وأدرها
Comment[ast]=Llista los trabayos d'imprentación y xestiónalos
Comment[bg]=Показване и управление на задачите за печат
Comment[bs]=Prikaz i upravljanje poslovima štampe
Comment[ca]=Llista i gestiona els treballs de la impressió
Comment[ca@valencia]=Llista i gestiona els treballs de la impressió
Comment[cs]=Vypsat tiskové úlohy a spravovat je
Comment[da]=Vis udskriftsjob og håndtér dem
Comment[de]=Druckaufträge anzeigen und verwalten
Comment[el]=Εμφάνιση και διαχείριση των εργασιών εκτύπωσης
Comment[en_GB]=List print jobs and manage them
Comment[es]=Listar los trabajos de impresión y gestionarlos
Comment[et]=Trükitööde kuvamine ja nende haldamine
Comment[eu]=Zerrendatu eta kudeatu inprimatze-lanak
Comment[fi]=Luettele tulostustyöt ja hallitse niitä
Comment[fr]=Liste les tâches d'impression et les gère
Comment[gl]=Listar os traballos de impresión e xestionalos.
Comment[hu]=Nyomtatási feladatok listázása és kezelése
Comment[ia]=Lista cargas de imprimer e gere los
Comment[it]=Elenca i processi di stampa e li gestisce
Comment[kk]=Басу тапсырмалар кезегі мен оны басқару
Comment[km]=រាយ​ការងារ​បោះពុម្ព​ និង​គ្រប់គ្រង​ពួកវា
Comment[ko]=인쇄 작업을 보여 주고 관리하기
Comment[lt]=Rikiuoti spausdinimo užduotis ir jas tvarkyti
Comment[mr]=छपाई कार्यांची यादी व व्यवस्थापन करतो
Comment[nb]=List utskriftsjobber og håndter dem
Comment[nds]=Druckopgaven oplisten un plegen
Comment[nl]=Toon afdruktaken en beheer ze
Comment[nn]=Vis og handsam utskriftsjobbar
Comment[pl]=Stan i obsługa drukarek
Comment[pt]=Imprimir as tarefas de impressão e geri-las
Comment[pt_BR]=Lista e gerencia os trabalhos de impressão
Comment[ro]=Enumeră sarcinile de imprimare și le gestionează
Comment[ru]=Показ списка заданий печати и управление ими
Comment[sk]=Vypísať tlačové úlohy a spravovať ich
Comment[sl]=Pregledovanje in upravljanje tiskalnih poslov
Comment[sr]=Прегледајте и управљајте пословима штампања
Comment[sr@ijekavian]=Прегледајте и управљајте пословима штампања
Comment[sr@ijekavianlatin]=Pregledajte i upravljajte poslovima štampanja
Comment[sr@latin]=Pregledajte i upravljajte poslovima štampanja
Comment[sv]=Lista skrivarjobb och hantera dem
Comment[tr]=Yazdırma görevlerini listele ve bunları yönet
Comment[uk]=Показ списку завдань і керування ними
Comment[x-test]=xxList print jobs and manage themxx
Comment[zh_CN]=显示和管理打印任务
Comment[zh_TW]=列出列印工作並管理

Icon=printer
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/printmanager.qml
X-Plasma-DefaultSize=650,270
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=Hardware
X-Plasma-ConfigPlugins=kcm_printer_manager
X-Plasma-OptionalExtensions=LaunchApp

X-KDE-PluginInfo-Author=Daniel Nicoletti
X-KDE-PluginInfo-Email=dantti12@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.printmanager
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
