[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=printd
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=1

Name=Print monitor
Name[en_GB]=Print monitor
Name[pt]=Monitor de impressão
Name[pt_BR]=Monitor de impressão
Name[sv]=Utskriftsövervakning
Name[uk]=Монітор друку
Name[x-test]=xxPrint monitorxx

Comment=Monitor printer jobs
Comment[en_GB]=Monitor printer jobs
Comment[pt]=Monitorizar as tarefas da impressora
Comment[pt_BR]=Monitore trabalhos de impressão
Comment[sv]=Övervaka utskriftsjobb
Comment[uk]=Спостереження за завданнями друку
Comment[x-test]=xxMonitor printer jobsxx
