[Desktop Entry]
Name=Add Printer
Name[ar]=أضف طابعة
Name[ast]=Amestar imprentadora
Name[ca]=Afegeix una impressora
Name[ca@valencia]=Afig una impressora
Name[cs]=Přidat tiskárnu
Name[da]=Tilføj printer
Name[de]=Drucker hinzufügen
Name[el]=Προσθήκη εκτυπωτή
Name[en_GB]=Add Printer
Name[es]=Añadir Impresora
Name[et]=Printeri lisamine
Name[fi]=Lisää tulostin
Name[gl]=Engadir unha impresora
Name[hu]=Nyomtató hozzáadása
Name[it]=Aggiungi stampante
Name[ko]=프린터 추가
Name[nl]=Printer toevoegen
Name[nn]=Legg til skrivar
Name[pl]=Dodaj drukarkę
Name[pt]=Adicionar uma Impressora
Name[pt_BR]=Adicionar impressora
Name[ru]=Добавление принтера
Name[sk]=Pridať tlačiareň
Name[sl]=Dodaj tiskalnik
Name[sr]=Додавање штампача
Name[sr@ijekavian]=Додавање штампача
Name[sr@ijekavianlatin]=Dodavanje štampača
Name[sr@latin]=Dodavanje štampača
Name[sv]=Lägg till skrivare
Name[tr]=Yazıcı Ekle
Name[uk]=Додати принтер
Name[x-test]=xxAdd Printerxx
Name[zh_CN]=添加打印机
Name[zh_TW]=新增印表機
Comment=Tool for adding new printers
Comment[ar]=أداة لإضافة طابعات جديدة
Comment[ast]=Ferramienta p'amestar imprentadores nueves
Comment[ca]=Eina per afegir impressores noves
Comment[ca@valencia]=Eina per afegir impressores noves
Comment[cs]=Nástroj pro přidávání nových tiskáren
Comment[da]=Værktøj til at tilføje nye printere
Comment[de]=Hilfsprogramm für das Hinzufügen von neuen Druckern
Comment[el]=Εργαλείο για την προσθήκη νέων εκτυπωτών
Comment[en_GB]=Tool for adding new printers
Comment[es]=Herramienta para añadir nuevas impresoras
Comment[et]=Uute printerite lisamine tööriist
Comment[fi]=Työkalu uusien tulostinten lisäämiseen
Comment[gl]=Ferramenta para engadir novas impresoras.
Comment[hu]=Segédprogram új nyomtatók hozzáadáshoz
Comment[it]=Strumento per aggiungere nuove stampanti
Comment[ko]=새 프린터 추가 도구
Comment[nl]=Hulpmiddel voor het toevoegen van nieuwe printers
Comment[nn]=Verktøy for å leggja til nye skrivarar
Comment[pl]=Narzędzie do dodawania nowych drukarek
Comment[pt]=Ferramenta para adicionar novas impressoras
Comment[pt_BR]=Ferramenta para adicionar novas impressoras
Comment[ru]=Инструмент для добавления новых принтеров
Comment[sk]=Nástroj na pridanie nových tlačiarní
Comment[sl]=Orodje za dodajanje novih tiskalnikov
Comment[sr]=Алатка за додавање нових штампача
Comment[sr@ijekavian]=Алатка за додавање нових штампача
Comment[sr@ijekavianlatin]=Alatka za dodavanje novih štampača
Comment[sr@latin]=Alatka za dodavanje novih štampača
Comment[sv]=Verktyg för att lägga till nya skrivare
Comment[tr]=Yeni yazıcıları eklemek için bir araç
Comment[uk]=Інструмент для додавання нових записів принтерів
Comment[x-test]=xxTool for adding new printersxx
Comment[zh_CN]=添加新打印机的工具
Comment[zh_TW]=新增印表機工具
Exec=kde-add-printer
Icon=printer
Type=Application
Terminal=false
NoDisplay=true
Categories=Qt;KDE;Printing;Utility;
