[Desktop Entry]
Name=Print Jobs Engine
Name[bs]=Pogon za poslove štampanja
Name[ca]=Motor de treballs d'impressió
Name[cs]=Stroj úloh tisku
Name[da]=Motor til udskriftsjob
Name[de]=Modul für Druckaufträge
Name[el]=Μηχανή εργασιών εκτύπωσης
Name[es]=Motor de trabajos de impresión
Name[et]=Trükitööde mootor
Name[fi]=Tulostintöiden tietomoottori
Name[fr]=Moteur de tâches d'impression
Name[gl]=Motor dos traballos de impresión.
Name[hu]=Nyomtatási feladatok modul
Name[ia]=Motor de cargas de imprimer
Name[it]=Motore processi di stampa
Name[kk]=Басу тапсырмалар тетігі
Name[km]=ម៉ាស៊ីន​ការងារ​បោះពុម្ព
Name[ko]=인쇄 작업 엔진
Name[mr]=छपाई कार्ये इंजिन
Name[nb]=Motor for utskriftsjobber
Name[nl]=Engine voor afdruktaken
Name[pa]=ਪਰਿੰਟ ਜਾਬ ਇੰਜਣ
Name[pl]=Silnik zadań drukowania
Name[pt]=Motor das Tarefas de Impressão
Name[pt_BR]=Mecanismo de trabalhos de impressão
Name[ro]=Motor pentru sarcini de imprimare
Name[ru]=Движок управления заданиями печати
Name[sk]=Engine tlačových úloh
Name[sl]=Pogon Tiskalna opravila
Name[sr]=Мотор послова штампања
Name[sr@ijekavian]=Мотор послова штампања
Name[sr@ijekavianlatin]=Motor poslova štampanja
Name[sr@latin]=Motor poslova štampanja
Name[sv]=Utskriftsgränssnitt
Name[uk]=Рушій керування завданнями з друку
Name[x-test]=xxPrint Jobs Enginexx
Name[zh_CN]=打印任务引擎
Name[zh_TW]=列印工作引擎
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_printjobs
X-Plasma-EngineName=printjobs
X-KDE-PluginInfo-Author=Daniel Nicoletti
X-KDE-PluginInfo-Email=dantti12@gmail.com
X-KDE-PluginInfo-Name=org.kde.printjobs
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
