[Desktop Entry]
Type=Service
Icon=printer

X-KDE-Library=kcm_printer_manager
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=computer-hardware

Name=Printers

Comment=Configure your printers