[Desktop Entry]
Type=Service
Icon=printer

X-KDE-Library=kcm_printer_manager
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-System-Settings-Parent-Category-V2=hardware

Name=Printers
Name[cs]=Tiskárny
Name[de]=Drucker
Name[el]=Εκτυπωτές
Name[en_GB]=Printers
Name[es]=Impresoras
Name[et]=Printerid
Name[fi]=Tulostimet
Name[fr]=Imprimantes
Name[ga]=Printéirí
Name[gl]=Impresoras
Name[hr]=Pisači
Name[ja]=プリンタ
Name[km]=ម៉ាស៊ីន​បោះពុម្ព
Name[mai]=मुद्रक
Name[nds]=Druckers
Name[nl]=Printers
Name[oc]=Estampairas
Name[pa]=ਪਰਿੰਟਰ
Name[pl]=Drukarki
Name[pt]=Impressoras
Name[pt_BR]=Impressoras
Name[ro]=Imprimante
Name[sv]=Skrivare
Name[tr]=Yazıcılar
Name[uk]=Принтери
Name[x-test]=xxPrintersxx

Comment=Configure your printers
Comment[en_GB]=Configure your printers
Comment[es]=Configure sus impresoras
Comment[et]=Printerite seadistamine
Comment[km]=កំណត់​រចនា​សម្ព័ន្ធ​ម៉ាស៊ីន​បោះ​ពុម្ព​របស់​អ្នក
Comment[pt]=Configurar as suas impressoras
Comment[pt_BR]=Configure suas impressoras
Comment[sv]=Anpassa skrivare
Comment[uk]=Налаштування ваших принтерів
Comment[x-test]=xxConfigure your printersxx
