[Desktop Entry]
Type=Service
Icon=printer
Exec=kcmshell4 kcm_printer_manager

X-KDE-Library=kcm_printer_manager
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-System-Settings-Parent-Category-V2=hardware
X-KDE-ParentApp=kcontrol

Name=Printers
Name[es]=Impresoras
Name[nl]=Printers
Name[pt_BR]=Impressoras
Name[sv]=Skrivare
Name[x-test]=xxPrintersxx

Comment=Configure your printers
Comment[es]=Configure sus impresoras
Comment[nl]=Uw printers instellen
Comment[pt_BR]=Configure suas impressoras
Comment[sv]=Anpassa skrivare
Comment[x-test]=xxConfigure your printersxx
