[Desktop Entry]
Name=Printers Engine
Name[bs]=Pogon za štampače
Name[ca]=Motor d'impressores
Name[cs]=Stroj tiskáren
Name[da]=Motor til printere
Name[de]=Druckermodul
Name[el]=Μηχανή εκτυπωτών
Name[es]=Motor de impresoras
Name[et]=Printerite mootor
Name[fi]=Tulostinten tietomoottori
Name[fr]=Moteurs d'imprimantes
Name[gl]=Motor das impresoras
Name[hu]=Nyomtatók modul
Name[ia]=Motor pro imprimer
Name[it]=Motore stampanti
Name[kk]=Принтерлер тетігі
Name[km]=​ម៉ាស៊ីន​​នៃ​ម៉ាស៊ីន​​បោះពុម្ព
Name[ko]=프린터 엔진
Name[mr]=छपाईयंत्रे इंजिन
Name[nb]=Skrivermotor
Name[nl]=Engine voor printers
Name[pa]=ਪਰਿੰਟਰ ਇੰਜਣ
Name[pl]=Silnik drukarek
Name[pt]=Motor de Impressoras
Name[pt_BR]=Mecanismo de impressoras
Name[ro]=Motor pentru imprimante
Name[ru]=Движок управления принтерами
Name[sk]=Engine tlačiarní
Name[sl]=Pogon Tiskalniki
Name[sr]=Мотор штампача
Name[sr@ijekavian]=Мотор штампача
Name[sr@ijekavianlatin]=Motor štampača
Name[sr@latin]=Motor štampača
Name[sv]=Utskriftsgränssnitt
Name[uk]=Рушій керування принтерами
Name[x-test]=xxPrinters Enginexx
Name[zh_CN]=打印机引擎
Name[zh_TW]=印表機引擎
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_printers
X-Plasma-EngineName=printers
X-KDE-PluginInfo-Author=Daniel Nicoletti
X-KDE-PluginInfo-Email=dantti12@gmail.com
X-KDE-PluginInfo-Name=org.kde.printers
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
