[Desktop Entry]
Name=Printers Engine
Name[cs]=Stroj tiskáren
Name[da]=Motor til printere
Name[el]=Μηχανή εκτυπωτών
Name[et]=Printerite mootor
Name[fi]=Tulostinten tietomoottori
Name[fr]=Moteurs d'imprimantes
Name[hu]=Nyomtatók modul
Name[km]=​ម៉ាស៊ីន​​នៃ​ម៉ាស៊ីន​​បោះពុម្ព
Name[nl]=Printers-engine
Name[pl]=Silnik drukarek
Name[pt]=Motor de Impressoras
Name[pt_BR]=Mecanismo de impressoras
Name[sv]=Utskriftsgränssnitt
Name[uk]=Рушій керування принтерами
Name[x-test]=xxPrinters Enginexx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_printers
X-Plasma-EngineName=printers
X-KDE-PluginInfo-Author=Daniel Nicoletti
X-KDE-PluginInfo-Email=dantti12@gmail.com
X-KDE-PluginInfo-Name=org.kde.printers
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
