[Desktop Entry]
Name=Print Queue
Name[ca]=Cua d'impressió
Name[de]=Druckerwarteschlange
Name[en_GB]=Print Queue
Name[es]=Cola de impresión
Name[fi]=Tulostusjono
Name[gl]=Cola de impresión
Name[hu]=Nyomtatási sor
Name[it]=Coda di stampa
Name[nl]=Printwachtrij
Name[pl]=Kolejka drukowania
Name[pt]=Fila de Impressão
Name[pt_BR]=Fila de impressão
Name[sk]=Tlačová fronta
Name[sr]=Ред за штампање
Name[sr@ijekavian]=Ред за штампање
Name[sr@ijekavianlatin]=Red za štampanje
Name[sr@latin]=Red za štampanje
Name[sv]=Utskriftskö
Name[uk]=Черга друку
Name[x-test]=xxPrint Queuexx
Name[zh_CN]=打印序列
Name[zh_TW]=列印佇列
Comment=View the print jobs
Comment[ca]=Visualitza els treballs d'impressió
Comment[de]=Druckaufträge anzeigen
Comment[en_GB]=View the print jobs
Comment[es]=Ver los trabajos de impresión
Comment[fi]=Näyttää tulostustyöt
Comment[gl]=Ver as tarefas de impresión
Comment[hu]=Nyomtatási feladatok megjelenítése
Comment[it]=Visualizza i processi di stampa
Comment[nl]=Afdruktaken bekijken
Comment[pl]=Obejrzyj zadania drukowania
Comment[pt]=Ver as tarefas de impressão
Comment[pt_BR]=Visualiza os trabalhos de impressão
Comment[sk]=Zobraziť tlačové úlohy
Comment[sr]=Приказ послова штампања
Comment[sr@ijekavian]=Приказ послова штампања
Comment[sr@ijekavianlatin]=Prikaz poslova štampanja
Comment[sr@latin]=Prikaz poslova štampanja
Comment[sv]=Visa utskriftsjobb
Comment[uk]=Спостереження за завданнями з друку
Comment[x-test]=xxView the print jobsxx
Comment[zh_CN]=查看打印任务
Comment[zh_TW]=檢視列印工作
Exec=kde-print-queue
Icon=printer
Type=Application
Terminal=false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.PrintQueue
NoDisplay=true
Categories=Qt;KDE;Printing;Utility;
