[Desktop Entry]
Name=Plasma Print Queue Manager
Name[ar]=مدير طابور الطباعة بالبلازما
Name[bg]=Диспечер на опашката за печат на Plasma
Name[ca]=Gestor de cues d'impressió del Plasma
Name[ca@valencia]=Gestor de cues d'impressió de Plasma
Name[es]=Gestor de colas de impresión de Plasma
Name[fr]=Gestionnaire de file d'impression de Plasma
Name[he]=מנהל תור הדפסה של פלזמה
Name[ia]=Gerente de cauda de imprimer de Plasma
Name[it]=Gestore della coda di stampa di Plasma
Name[ka]=Plasma-ის ბეჭდვის რიგის მმართველი
Name[lt]=Plasma spausdinimo eilės tvarkytuvė
Name[nl]=Plasma afdrukwachtrijbeheerder
Name[pt_BR]=Gerenciador de Fila de Impressão do Plasma
Name[ro]=Administratorul cozilor de imprimare Plasma
Name[ru]=Управление очередью печати Plasma
Name[sl]=Plasma Upravljalnik čakalne vrste za tisk
Name[tr]=Plasma Yazıcı Kuyruğu Yöneticisi
Name[uk]=Засіб керування чергою друку Плазми
Name[zh_CN]=Plasma 打印队列管理器
GenericName=Print Queue
GenericName[ar]=طابور الطّباعة
GenericName[bg]=Опашка за печат
GenericName[ca]=Cua d'impressió
GenericName[ca@valencia]=Cua d'impressió
GenericName[es]=Cola de impresión
GenericName[fr]=File d'impression
GenericName[he]=תור הדפסה
GenericName[ia]=Cauda de imprimer
GenericName[it]=Coda di stampa
GenericName[ka]=ბეჭდვის რიგი
GenericName[lt]=Spausdinimo eilė
GenericName[nl]=Afdrukwachtrij
GenericName[pt_BR]=Fila de impressão
GenericName[ro]=Coadă de imprimare
GenericName[ru]=Очередь печати
GenericName[sl]=Čakalna vrsta za tisk
GenericName[tr]=Yazıcı Kuyruğu
GenericName[uk]=Черга друку
GenericName[zh_CN]=打印队列
Comment=View and manage print jobs
Comment[ar]=اعرض وأدر مهامّ الطّباعة
Comment[bg]=Преглед и управление на заданията за печат
Comment[ca]=Visualitza i gestiona els treballs d'impressió
Comment[ca@valencia]=Visualitza i gestiona els treballs d'impressió
Comment[es]=Ver y gestionar trabajos de impresión
Comment[fr]=Afficher et gérer les tâches d'impression
Comment[he]=הצגה וניהול של משימות ההדפסה
Comment[ia]=Vide e gere cargas de imprimer
Comment[it]=Visualizza e gestisce i processi di stampa
Comment[ka]=ბეჭდვის დავალებების ნახვა და მართვა
Comment[lt]=Rodyti ir tvarkyti spausdinimo darbus
Comment[nl]=Afdruktaken bekijken en beheren
Comment[pt_BR]=Visualiza e gerencia os trabalhos de impressão
Comment[ro]=Vedeți și gestionați lucrările de tipărire
Comment[ru]=Просмотр и управление заданиями печати
Comment[sl]=Ogled in upravljanje poslov tiskanja
Comment[tr]=Yazdırma işlerini görüntüleyin ve yönetin
Comment[uk]=Перегляд завдань з друку та керування ними
Comment[zh_CN]=查看和管理打印任务
Exec=plasma-print-queue
Icon=printer
Type=Application
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.plasma.printqueue
NoDisplay=true
Categories=Qt;KDE;Printing;Utility;
