[Desktop Entry]
Name=Configure Printer
Name[nl]=Printer instellen
Name[pl]=Ustawienia drukarki
Name[pt]=Configurar a Impressora
Name[pt_BR]=Configurar impressora
Name[sk]=Nastaviť tlačiareň
Name[sv]=Anpassa skrivare
Name[uk]=Налаштувати принтер
Name[x-test]=xxConfigure Printerxx
Name[zh_TW]=設定印表機
Comment=Configure your printer
Comment[nl]=Uw printer instellen
Comment[pl]=Ustaw swoje drukarki
Comment[pt]=Configurar a sua impressora
Comment[pt_BR]=Configura sua impressora
Comment[sk]=Nastaviť vaše tlačiarne
Comment[sv]=Anpassa din skrivare
Comment[uk]=Налаштування ваших принтерів
Comment[x-test]=xxConfigure your printerxx
Comment[zh_TW]=設定您的印表機
Exec=configure-printer
Icon=printer
Type=Application
Terminal=false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.ConfigurePrinter
Categories=Qt;KDE;Printing;Utility;
NoDisplay=true
