[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=printmanager
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=1

Name=Print Manager
Name[cs]=Správce tisku
Name[da]=Udskriftshåndtering
Name[de]=Druckerverwaltung
Name[el]=Διαχειριστής εκτυπώσεων
Name[es]=Gestor de impresión
Name[et]=Trükkimise haldur
Name[fi]=Tulostuksenhallinta
Name[fr]=Gestionnaire d'impression
Name[hu]=Nyomtatáskezelő
Name[km]=កម្មវិធី​គ្រប់គ្រង​ការ​បោះពុម្ព
Name[nb]=Utskriftsbehandler
Name[nl]=Afdrukbeheer
Name[pl]=Menedżer wydruku
Name[pt]=Gestor de Impressão
Name[pt_BR]=Gerenciador de impressão
Name[ro]=Administrator de imprimare
Name[sk]=Správca tlače
Name[sr]=Менаџер штампања
Name[sr@ijekavian]=Менаџер штампања
Name[sr@ijekavianlatin]=Menadžer štampanja
Name[sr@latin]=Menadžer štampanja
Name[sv]=Utskriftshanterare
Name[uk]=Керування друком
Name[x-test]=xxPrint Managerxx
Name[zh_TW]=列印管理員
Comment=Inform when a new printer is detected, and print problems
Comment[cs]=Informovat, když je detekována nová tiskárna a při tiskových problémech
Comment[da]=Giv besked når en ny printer detekteres eller der er udskriftsproblemer
Comment[el]=Ειδοποίηση κατά την ανίχνευση νέου εκτυπωτή και παρουσίαση προβλημάτων
Comment[es]=Informar cuando se detecta una nueva impresora y de los problemas de impresión
Comment[et]=Teavitamine uue printeri tuvastamisest ja trükkimisprobleemidest
Comment[fi]=Ilmoita, kun havaitaan uusi tulostin tai tulostusongelmia
Comment[fr]=Informe lors de la détection d'une nouvelle imprimante et affiche les problèmes
Comment[hu]=Informálás új nyomtató észleléséről, és a problémák nyomtatása
Comment[km]=ប្រាប់​នៅ​ពេល​រកឃើញ​ម៉ាស៊ីន​បោះពុម្ព​ថ្មី និង​បញ្ហា​ក្នុង​ការ​បោះពុម្ព
Comment[nb]=Si fra når det oppdages en ny skriver, og skriv ut problemer
Comment[nl]=Toon wanneer een nieuwe printer is ontdekt en toon problemen
Comment[pl]=Informuj o wykryciu nowej drukarki i o problemach z wydrukiem
Comment[pt]=Informar quando detectar uma nova impressora ou erros de impressão
Comment[pt_BR]=Informa quando uma nova impressora for detectada ou ocorrerem erros de impressão
Comment[ro]=Informează cînd este descoperită o nouă imprimantă și tipărește problemele
Comment[sk]=Informuje, keď sa nájde nová tlačiareň, a vytlačí problémy
Comment[sr]=Обавештава када се открије нови штампач и исписује проблеме
Comment[sr@ijekavian]=Обавештава када се открије нови штампач и исписује проблеме
Comment[sr@ijekavianlatin]=Obaveštava kada se otkrije novi štampač i ispisuje probleme
Comment[sr@latin]=Obaveštava kada se otkrije novi štampač i ispisuje probleme
Comment[sv]=Informera om när en ny skrivare detekteras, och om utskriftsproblem
Comment[uk]=Повідомлення щодо виявлення принтера та щодо проблем з принтером
Comment[x-test]=xxInform when a new printer is detected, and print problemsxx
Comment[zh_TW]=偵測到新印表機與列印問題時發出通知
