[Desktop Entry]
Name=Print Manager Engine
Name[da]=Motor til udskriftshåndtering
Name[hu]=Nyomtatókezelő modul
Name[nl]=Afdrukbeheerder-engine
Name[pt]=Motor de Gestão de Impressão
Name[pt_BR]=Mecanismo de gerenciamento de impressão
Name[sv]=Utskrifthanteringsgränssnitt
Name[uk]=Рушій керування друком
Name[x-test]=xxPrint Manager Enginexx
Comment=An Engine that provides access to CUPS data
Comment[da]=En motor der giver adgang til CUPS-data
Comment[hu]=Egy modul CUPS adatokhoz való hozzáférés biztosításához
Comment[nl]=Een engine die toegang geeft tot CUPS-gegevens
Comment[pt]=Um motor que fornece o acesso aos dados do CUPS
Comment[pt_BR]=Um mecanismo que fornece acesso aos dados do CUPS
Comment[sv]=Ett gränssnitt som ger tillgång till CUPS-data
Comment[uk]=Рушій, який надає доступ до даних CUPS
Comment[x-test]=xxAn Engine that provides access to CUPS dataxx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_printmanager
X-Plasma-EngineName=printmanager
X-KDE-PluginInfo-Author=Daniel Nicoletti
X-KDE-PluginInfo-Email=dantti12@gmail.com
X-KDE-PluginInfo-Name=printmanager
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
