[Desktop Entry]
Type=Service
Icon=printer

X-KDE-Library=kcm_print
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=computer-hardware

Name=Print
Name[en_GB]=Print
Name[pt]=Imprimir
Name[sv]=Skriv ut
Name[uk]=Друк
Name[x-test]=xxPrintxx
