[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=computer-hardware
X-KDE-System-Settings-Parent-Category=general
X-KDE-Weight=300
Icon=preferences-system

Name=Hardware
Name[en_GB]=Hardware
Name[pt]='Hardware'
Name[sv]=Hårdvara
Name[uk]=Обладнання
Name[x-test]=xxHardwarexx
